@media screen and (max-width: 1720px) {
  .offer__bg-video {
    display: none;
  }
  .offer__bg-img {
    display: block;
  }
}
@media screen and (max-width: 1615px) {
  .form__inner {
    margin-top: -24px;
  }

  .about__img {
    display: none;
  }

  .about__box {
    max-width: none;

    .default__title {
      text-align: center;
    }
  }

  .about__form {
    margin: 0 auto;
    padding-top: 80px;
  }

  .form__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .about__form-inner {
    width: 50%;
  }

  .about__img-mobile {
    display: block;
    text-align: right;

    img {
      max-width: 352px;
      width: 100%;
      height: auto;
    }
  }

  .about__text {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding: 50px 270px;
  }
}
@media screen and (max-width: 1200px) {
  .default__title {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
  }

  .offer__inner {
    justify-content: space-around;
  }

  .offer__inner-img {
    margin-left: 0;
  }

  .advantages {
    padding-bottom: 50px;
  }

  .advantages__items {
    flex-wrap: wrap;
  }

  .advantages__item-inner {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-bottom: 73px;
  }

  .list__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .list__bg {
    height: 540px;
    margin-bottom: -708px;
  }

  .list__title-inner {
    margin-left: 40px;
  }

  .tabs {
    padding-right: 0;
  }

  .tab__content-inner {
    background-color: #A4C58C;
    width: 100%;
  }

  .tab__content {
    margin: 0 auto;
  }

  .list__box {
    bottom: -20px;
    padding: 19px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .list__button-inner {
    text-align: center;

    .default__button {
      max-width: 416px;
      width: 100%;
      padding-right: 90px;
      padding-left: 45px;
    }

    .default__button::after {
      right: 45px;
    }
  }

  .features {
    margin-top: 150px;
    margin-bottom: 0;

    .container {
      max-width: 100%;
      padding: 0;
    }
  }

  .features__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .features__list-box {
    order: -1;
    padding: 0 20px;
    max-width: 578px;
    margin: 0 auto;

    .features__list-title,
    .features__title-inner {
      text-align: center;
      margin-bottom: 35px;
    }
  }

  .features__list {
    li + li {
      margin-top: 25px;
    }
  }

  .features__comment-box {
    position: relative;
    padding-top: 46px;
    width: 100%;
  }

  .features__img {
    margin: 0 auto;
    width: 100%;
    display: block;
    background: url("../images/women.jpg") no-repeat center center/cover;
  }

  .features__comment {
    z-index: 10;
    right: 50%;
    transform: translateX(50%);
  }

  .about {
    .container {
      padding: 0;
    }
  }

  .about__box {
    max-width: none;
    padding-top: 0;

    .default__title {
      padding-top: 217px;
      padding-right: 165px;
      padding-left: 165px;
      background-color: #f6f9f3;
      margin-bottom: 0;
    }
  }

  .about__text {
    text-align: left;
    padding: 43px 20px 100px;
  }

  .about__form {
    max-width: 279px;
  }

  .slider__bg-pice {
    display: none;
  }

  .slider__wrapper {
    height: auto;
    margin-top: 54px;
    padding: 0 20px;
  }

  .slider__item {
    min-height: 0;
  }

  .numbers {
    margin-top: 0;
  }

  .numbers-bg {
    display: none;
  }

  .numbers__wrapper {
    background-color: #f6f9f3;
    padding: 100px 0;

    .default__title {
      margin: 0 auto 40px;
      max-width: 605px;
      width: 100%;
    }
  }

  .numbers__item {
    width: 224px;
    padding: 50px 10px 30px;
  }

  .numbers__item-img {
    left: 50%;
    width: 71px;
    transform: translate(-50%, -50%);
  }

  .numbers__item-bg-text {
    font-size: 110px;
    line-height: 75px;
  }

  .numbers__item-text {
    margin-top: 27px;
    font-size: 10px;
    line-height: 14px;
  }

  .numbers__items {
    max-width: 724px;
    width: 100%;
  }

  .composition {
    margin: 100px 0 140px;
  }

  .composition__list-box-wrapper {
    order: -1;
    width: 100%;
  }

  .composition__list-box {
    max-width: 500px;
    padding-left: 0;
    margin: 0 auto 48px;

    .default__title {
      margin-bottom: 43px;
    }
  }

  .composition__items {
    justify-content: center;
  }

  .composition__item {
    margin: 15px;
    height: 330px;
    width: 330px;
  }

  .composition__box {
    order: 12;
    height: 330px;
    width: 330px;
    padding: 0;
    margin: 15px;

    p:last-child {
      display: none;
    }
  }

  .composition__box-wrapper {
    padding: 83px 0 0;
  }

  .composition__box-text {
    padding: 0 30px;
  }

  .composition__box-text::before {
    display: none;
  }

  .composition__box-button-inner {
    margin-right: 0;
    margin-top: 46px;

    .default__button {
      width: 100%;
      padding: 19px 83px 19px 60px;
      text-align: center;
    }

    .default__button::after {
      right: 40px;
    }
  }

  .comments {
    padding: 0;
  }

  .comments__categories div:first-child {
    padding-left: 70px;
  }

  .comments__categories {
    display: flex;
    justify-content: center;
  }

  .categories__tab {
    width: 50%;
    text-align: center;
  }

  .order {
    margin-top: 64px;
    margin-bottom: 150px;
  }

  .order__wrapper {
    background: none;
    height: auto;
  }

  .order__box {
    padding: 0;
  }

  .order__box-inner {
    padding: 70px;

    .default__title {
      text-align: left;
    }
  }

  .order__box-wrapper {
    padding: 0;
    justify-content: center;
  }

  .footer {
    margin-top: 150px;
  }

  .footer__img {
    display: none;
  }

  .footer__img-mobile {
    display: block;
    order: 1;
    text-align: left;
    padding-right: 30px;
  }

  .footer__img-mobile img {
    width: 280px;
    height: auto;
  }

  .footer__benefits-box {
    max-width: 415px;
    width: 100%;
    order: 2;

    .default__button {
      max-width: 373px;
      text-align: center;
      padding: 19px;

      &::after {
        display: none;
      }
    }
  }

  .footer__benefits-info {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 45px 0 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .default__subtitle {
      margin: 0 auto 40px;
      text-align: center;
      max-width: none;
      padding: 0 129px;
      width: 100%;
    }
  }

  .footer .container {
    padding: 0 11px;
  }

  .footer__links {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    li + li {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 992px) {
  .default__button {
    text-align: center;
  }

  .offer__text-wrapper {
    max-width: 360px;
    padding-left: 60px;
  }

  .offer__inner-text {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  .offer__inner-form {
    padding-top: 30px;
  }

  .offer__inner-suptitle {
    margin-bottom: 9px;
    font-size: 14px;
  }

  .offer__inner-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 23px;
  }

  .default__button {
    padding: 19px 65px 19px 19px;
  }

  .default__button::after {
    right: 30px;
  }

  .about__box {
    .default__title {
      padding: 160px 20px 0;
    }
  }

  .comments__item-box {
    width: 100%;

    &:nth-child(-n+2) {
      display: none;
    }
  }

  .comments .container {
    padding: 0;
  }

  .comments__btns {
    margin-top: 0;
    background-color: $green-light-bg;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 75px;

    .default__link {
      margin-right: 0;
      margin-bottom: 27px;
    }
  }

  .order__box-inner {
    .default__button {
      width: 100%;
      text-align: center;
    }
  }
}
//tablet
@media screen and (max-width: 768px) {
  .default__title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .container {
    padding: 0 11px;
  }

  .header__text {
    display: none;
  }

  .header__phone {
    a:before {
      display: none;
    }

    .phone__text {
      display: none;
    }
  }

  .offer__form-wrapper {
    display: none;
  }

  .offer__images {
    min-height: 376px;
    margin: 0 auto;
  }

  .offer__wrapper {
    margin-top: -339px;
  }

  .offer__inner-text {
    display: none;
  }

  .offer__text-wrapper {
    padding-left: 0;
  }

  .offer__inner-suptitle {
    font-size: 12px;
  }

  .offer__inner-title {
    font-size: 30px;
    line-height: 36px;
  }

  .offer__inner {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
  }

  .offer__inner-img {
    order: 1;

    img {
      height: 188px;
    }
  }

  .offer__inner-form {
    padding-top: 0;
    max-width: 170px;
    width: 100%;
    text-align: center;
  }

  .offer__btn-mobile {
    display: block;

    .default__button {
      width: 100%;
      text-align: center;
      padding: 22px;
    }

    .default__button:after {
      display: none;
    }
  }

  .list__title-inner {
    margin: 45px auto;
    max-width: 352px;
  }

  .tabs {
    width: 100%;
    padding-right: 0;
  }

  .list__bg {
    margin-bottom: -705px;
  }

  .form__inner {
    flex-direction: column-reverse;
    padding: 0;
  }

  .about__img-mobile img {
    max-width: 500px;
  }

  .about__form {
    padding-top: 33px;
    max-width: 100%;
    width: 100%;
  }

  .about__form-inner {
    max-width: 60%;
    width: 100%;
  }

  .about__form-title {
    text-align: center;
    max-width: 240px;
    margin: 0 auto;
  }

  .about__input-wrapper {
    padding: 0 11px;
  }

  .numbers__wrapper {
    padding-top: 60px;
    padding-bottom: 35px;

    .default__title {
      margin-bottom: 0;
    }
  }

  .numbers__item {
    border: none;
  }

  .numbers__item + .numbers__item {
    margin-left: 0;
  }

  .numbers__item-bg-text {
    color: #fff;
  }

  .numbers__items {
    padding: 0;
    flex-direction: column;
    align-items: center;
    background-color: #f6f9f3;
  }

  .order {
    margin-bottom: 0;
  }

  .footer {
    margin-top: 0;
  }
  .footer .container {
    padding: 0;
  }

  .footer__benefits {
    .default__title {
      background-color: $green-light-bg;
      padding-top: 60px;
      margin-bottom: 0;
    }
  }

  .footer__benefits-info {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0;
    .default__subtitle {
      font-size: 14px;
      padding: 0 11px;
      line-height: 20px;
    }
  }

  .footer__benefits-box {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
    padding: 40px 30px 90px 30px;

    &::before {
      background-color: transparent;
      left: 50%;
      transform: translateX(-50%);
    }

    .default__button {
      right: 0;
      bottom: 0;
      max-width: 100%;
    }
  }

  .footer__img-mobile {
    text-align: center;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 8px;
  }

  .footer__inner {
    padding: 50px 11px;
    justify-content: center;
  }

  .footer__logo,
  .footer__phone {
    display: none;
  }

}
@media screen and (max-width: 576px) {
  .default__title {
    font-size: 24px;
    line-height: 26px;
  }

  .order .container {
    padding: 0;
  }

  .default__button {
    padding: 19px;
    text-align: center;
    width: 100%;
  }

  .comments__btns .default__button {
    padding: 19px;
    text-align: center;
    width: 100%;
  }

  .default__button::after {
    display: none;
    text-align: center;
  }

  .header__phone a {
    font-size: 14px;
  }

  .header__logo {
    max-width: 113px;
  }

  .advantages {
    padding-bottom: 0;
  }

  .advantages__item-inner {
    width: 100%;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__item {
    max-width: 205px;
    padding: 0;

    &:before {
      display: none;
    }
  }

  .list .container {
    max-width: 100%;
    padding: 0;
  }

  .tab__box .tab:nth-child(2n) {
    border-left: none;
    padding-left: 11px;
  }

  .tab__box .tab {
    width: 100%;
    background-color: #F6F9F3;
  }

  .tab {
    padding-left: 11px;
    pointer-events: none;

    &.active::after {
      display: none;
    }
  }

  .tab__content-inner {
    display: none;
  }

  .list__bg {
    margin-bottom: -678px;
  }

  .list__wrapper {
    margin-bottom: 0;
  }

  .list__box {
    display: block;
  }

  .list__box-mobile {
    display: block;
    background-color: $green-light-bg;
    padding: 19px;
  }

  .list__button-inner .default__button {
    max-width: 100%;
    text-align: center;
    padding: 19px;

    &::after {
      display: none;
    }
  }

  .features {
    margin-top: 55px;
  }

  .features__img {
    background: url("../images/women.jpg") no-repeat top center/100%;
    height: 244px;
  }

  .features__comment-box {
    display: flex;
    flex-direction: column;
  }

  .features__comment-inner {
    position: static;
    border: none;
  }

  .features__comment {
    bottom: 15%;
    text-align: center;
    padding: 0;
    position: static;
    right: auto;
    transform: none;
  }

  .about__box {
    .default__title {
      padding: 60px 20px 0;
    }
  }

  .about__text {
    padding: 20px 11px;
  }

  .form__inner {
    margin-top: 0;
  }

  .about__form-inner {
    max-width: 100%;
  }

  .about__form-title {
    margin-bottom: 30px;
  }

  .about__form {
    input::placeholder {
      text-align: center;
    }
  }

  .slider__text {
    font-size: 14px;
    line-height: 24px;
  }

  .slider__author {
    font-size: 14px;
  }

  .slider__wrapper {
    margin-top: 0;
  }

  .slider__content {
    border: none;
    padding: 60px 11px 54px;
    margin-top: 0;

    &:hover {
      box-shadow: none;
    }
  }

  .composition {
    margin-bottom: 50px;
  }

  .composition .container {
    padding: 0;
  }

  .composition__box {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .composition__list {
    li + li {
      margin-top: 20px;
    }
  }

  .composition__list-box {
    margin-bottom: 19px;
  }

  .composition__box-wrapper {
    border: none;
    text-align: center;
    padding-top: 50px;

    .default__title {
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 24px;
    }
  }

  .composition__item {
    width: 300px;
    height: 300px;
    margin: 5.5px 11px;
  }

  .composition__list li::before {
    left: 10px;
  }

  .comments {
    .default__title {
      margin-bottom: 28px;
    }
  }

  .categories__tab {
    padding: 20px 25px !important;
  }

  .comments__items {
    padding: 0 11px 30px;
  }

  .comments__item-box {
    margin-top: 30px;
    padding: 18px 0 0;
  }

  .comments__btns {
    padding-bottom: 0;
  }

  .order__box-inner {
    padding: 0;
    border: none;

    .default__title {
      text-align: center;
      padding: 0 11px;
    }
  }

  .order__text {
    padding: 0 11px;
  }

  .order__headline {
    padding: 0 11px;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {}
//mobile
@media screen and (max-width: 320px) {}
