@import "fonts";
@import "vars";
@import "libs";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

li,
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: $fn-mr;
  color: $black-text;
  line-height: 23px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
//header

.footer__inner,
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0 37px;
}

.header__logo {
  max-width: 200px;
  margin-right: 27px;
}

.header__text {
  display: inline-block;
  color: $gray-text;
  font-size: 16px;
}

.footer__phone,
.header__phone {
  text-align: right;

  a {
    font-family: $fn-mm;
    color: $black-text;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
  }

  a::before {
    content: '';
    background: url("../images/phone.svg") no-repeat center center / contain;
    height: 15px;
    width: 15px;
    left: -27px;
    top: 4px;
    position: absolute;
  }
}

.phone__text {
  color: $gray-text;
  display: block;
}

.offer__images {
  background: url("../images/header-bg.jpg") no-repeat center center / cover;
  min-height: 545px;
  max-width: 1720px;
  margin: 0 auto;
}

.offer__wrapper {
  margin-top: -450px;
  color: #fff;
}

.offer__inner {
  display: flex;
  justify-content: space-between;
}

.offer__inner-img {
  margin-left: 147px;
}

.offer__inner-form {
  padding-top: 76px;
  max-width: 570px;
  width: 100%;
}

.offer__inner-suptitle {
  font-family: $fn-mm;
  font-size: 14px;
  margin-bottom: 29px;
}

.offer__inner-title {
  font-family: $fn-msb;
  font-size: 60px;
  margin-bottom: 53px;
}

.offer__inner-text {
  font-family: $fn-mr;
  font-size: 18px;
  margin-bottom: 94px;
}

.offer__form {
  background-color: #fff;
  padding: 19px;
}

.offer__form-inner {
  border: 1px solid $green-light-border;
  padding: 50px 50px 0;

  input {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid $green-light-border;
    font-family: $fn-mr;
    color: #000;
    min-width: 195px;
    background-color: transparent;
    padding: 7px 0;
  }

  input::placeholder {
    color: $green-text;
  }

  input + input {
    margin-left: 30px;
  }
}

.offer__form-title {
  color: $black-text;
  line-height: 22px;
  font-family: $fn-mb;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 35px;
  max-width: 185px;
}

.button__inner {
  text-align: right;
  margin-top: 57px;
  margin-right: -50px;
}

.default__button {
  padding: 22px 99px 22px 74px;
  font-family: $fn-mb;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  background-color: $green;
  position: relative;
}

.default__button:hover {
  box-shadow: inset 2px 2px 5px rgba(#000, .3);
}

.default__button:active {
  background-color: #77a352;
}

.default__button:after {
  content: '';
  background-image: url("../images/arrow.png");
  position: absolute;
  width: 32px;
  height: 8px;
  position: absolute;
  right: 53px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
//advantages

.advantages {
  padding-top: 86px;
  padding-bottom: 200px;
}

.advantages__items {
  display: flex;
  justify-content: space-around;
}

.advantages__item {
  max-width: 257px;
  padding: 35px 0 0 40px;
  position: relative;
}

.advantages__item::before {
  content: '';
  border: 5px solid #e4eddc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.advantages__item-title {
  color: $green-text;
  display: inline-block;
  font-family: $fn-msb;
  font-size: 30px;
  line-height: 24px;
  padding-bottom: 3px;
  margin-bottom: 25px;
  border-bottom: 3px solid $green-text;

  small {
    font-size: 18px;
  }
}

.advantages__item-text {
  color: #000;
  font-family: $fn-mr;
  font-size: 16px;
  letter-spacing: 0;
}
//list

.list {
  padding-top: 165px;
}

.tab__content {
  min-width: 500px;
  height: 689px;
  align-self: flex-start;
  position: relative;
  background: url("../images/human.jpg") no-repeat center / contain;
}

.list__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}

.default__title {
  font-size: 40px;
  font-family: $fn-mb;
  color: $black-text;
  line-height: 50px;
}

.list__title-inner {
  margin-top: 48px;
  margin-bottom: 45px;
  max-width: 450px;
}

.tab {
  padding: 20px 46px 20px 0;
  border-bottom: 1px solid #e6efde;
  font-family: $fn-msb;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.tab::after {
  content: '';
  background-image: url("../images/arr.png");
  position: absolute;
  width: 9px;
  height: 14px;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.tab.active::after {
  display: block;
}

.tab span {
  font-size: 14px;
  line-height: 20px;
  font-family: $fn-msb;
  color: $green-text;
  margin-right: 20px;
  display: block;
}

.tabs {
  width: 100%;
  padding-right: 20px;
}

.tab-item {
  font-family: $fn-mb;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  line-height: 25px;
  border: 9px solid rgba(#fff, .8);
  background-color: #a5c98a;
  color: #fff;
  display: none;
  position: absolute;
}

.active-tab {
  display: block;
}

.tab__box {
  display: flex;
  flex-wrap: wrap;

  .tab {
    font-family: $fn-mr;
    font-size: 16px;
    text-transform: none;
    letter-spacing: 0;
    width: 50%;
  }

  .tab:nth-child(2n) {
    border-left: 1px solid #e6efde;
    padding-left: 36px;
  }
}

.item-1 {
  top: 160px;
  right: 214px + 77px;
}

.item-2 {
  top: 71px;
  right: 152px + 77px;
}

.item-3 {
  top: 26px;
  right: 153px + 77px;
}

.item-4 {
  top: 92px;
  right: 154px + 77px;
}

.item-5 {
  top: 47px;
  right: 154px + 77px;
}

.item-6 {
  top: 385px;
  right: 121px + 77px;
}

.item-7 {
  top: 136px;
  right: 154px + 77px;
}

.item-8 {
  top: 185px;
  right: 154px + 77px;
}

.item-9 {
  top: 50px;
  right: 152px + 77px;
}

.list__bg {
  min-height: 540px;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  background-color: $green-light-bg;
  margin-bottom: -720px;
}

.list__box {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 415px;
  width: 100%;
  background-color: $green-light-bg;
  padding: 19px 19px 0;
}

.list__box-wrapper {
  border: 1px solid #c5dab5;
  padding: 24px 24px 0 30px;
  position: relative;
}

.list__box-text {
  font-family: $fn-mr;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  padding-bottom: 30px;
}

.default__link {
  font-family: $fn-msb;
  font-size: 14px;
  color: #7eb152;
  text-decoration: underline;
}

.list__box-link {
  background-color: $green-light-bg;
  position: absolute;
  padding: 0 6px;
  line-height: 24px;
  bottom: -11px;
  left: 45px;
}

.default__link:hover {
  text-decoration: none;
}

.list__button-inner {
  text-align: right;

  .default__button {
    min-width: 500px;
    text-transform: uppercase;
    padding-right: 153px;
    padding-left: 115px;
  }

  .default__button::after {
    right: 104px;
  }
}
//features

.features {
  margin-top: 200px;
  margin-bottom: 270px;
}

.features__img {
  width: 875px;
  height: 645px;
  display: inline-block;
  background: url("../images/women.jpg") no-repeat center / cover;
  margin-left: -275px;
}

.features__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.features__comment {
  padding: 20px;
  position: absolute;
  top: 483px;
  background-color: #fff;
  max-width: 600px;
  width: 100%;
}

.features__comment-inner {
  border: 1px solid $green-light-border;
  padding: 38px;
}

.features__comment-text {
  font-family: $fn-mr;
  font-size: 16px;
  line-height: 24px;
}

.features {
  .default__button {
    text-transform: uppercase;
    padding-left: 35px;
    padding-right: 89px;
    width: 100%;
    text-align: center;
  }

  .default__button:after {
    right: 40px;
  }
}

.features__title-inner {
  margin-bottom: 45px;
}

.features__list-box {
  padding: 46px 0 0 70px;
}

.features__list-title {
  text-transform: uppercase;
  font-family: $fn-mb;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 64px;
}

.features__list li {
  position: relative;
  padding-left: 44px;
}

.features__list li::before {
  content: '';
  background-image: url("../images/arr.png");
  position: absolute;
  width: 9px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.features__list li + li {
  margin-top: 49px;
}
//about

.about__wrapper {
  width: 1720px;
  margin: 0 auto;
  position: relative;
}

.about__box {
  position: relative;
  z-index: 5;
  padding-top: 42px;
  max-width: 715px;
  width: 100%;

  .default__title {
    margin-bottom: 50px;
  }
}

.about__text {
  background-color: #f6f9f3;
  padding: 58px 50px 64px 275px;
  margin-left: -275px;
  font-family: $fn-mr;
  font-size: 16px;

  p + p {
    margin-top: 21px;
  }
}

.about__img {
  position: absolute;
  right: 0;
}

.about__form {
  max-width: 370px;
  margin-left: 244px;
  margin-top: 47px;

  .default__button {
    width: 100%;
    text-transform: uppercase;
    margin-top: 35px;
  }

  input {
    width: 100%;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid $green-light-border;
    font-family: $fn-mr;
    color: #000;
    min-width: 195px;
    background-color: transparent;
    padding: 13px 0;
  }

  input::placeholder {
    color: $green-text;
  }
}

.about__form-title {
  font-family: $fn-mb;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 42px;
}
//slider

.slider__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 619px;
  opacity: 0.2;
  transition: opacity 1s;
}

.slider__wrapper.hover {
  opacity: 0.8;
}

.slider__bg-pice {
  position: relative;
  z-index: -1;
  width: 500px;
  background: url("../images/flower.png") no-repeat center / contain;
}


.slider__bg-pice:nth-child(1) {
  transform: scale(-1, 1);
}

.slider__content {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 50px 0;
  max-width: 770px;
  margin: -440px auto 0 auto;
  border-top: 3px solid #a4c58c;
  border-bottom: 3px solid #a4c58c;
  transition: box-shadow 0.3s;
}

.slider__content:hover {
  box-shadow: 0 16px 14px -20px #a4c58c, 0 -16px 14px -20px #a4c58c;
}

.slider__text {
  font-family: $fn-mb;
  font-size: 24px;
  margin-bottom: 38px;
  line-height: 40px;
}

.slider__author {
  font-family: $fn-mr;
  font-size: 18px;
  line-height: 30px;

  span {
    color: #9a9a9a;
  }
}

.slider__item {
  display: inline-block;
  outline: none;
  min-height: 200px;
}

//numbers

.numbers {
  margin-top: 198px;

  .default__title {
    max-width: 525px;
    width: 100%;
    margin-bottom: 39px;
  }
}

.numbers__wrapper {
  width: 1720px;
  margin: 0 auto;
}

.numbers__items {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;

  & > div + div {
    margin-left: 20px;
  }
}

.numbers__item {
  border: 1px solid #e4eddc;
  width: 310px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.numbers__item-bg-text {
  font-family: $fn-mbl;
  font-size: 150px;
  letter-spacing: 0.5px;
  line-height: 150px;
  color: #f7f9f3;
  transition: font-size .5s;
}

.numbers__item-bg-text:hover {
  font-size: 180px;
}

.numbers__item-img {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.numbers__item-text {
  font-family: $fn-mb;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 28px;
}

.numbers-bg {
  position: relative;
  z-index: -1;
  background-color: $green-light-bg;
  height: 380px;
  width: 100%;
  margin-top: -280px;
}
//composition

.composition {
  margin-top: 200px;
}

.composition__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.composition__item {
  background-color: #f6f9f3;
  color: $green-text;
  height: 270px;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding: 15px;
  position: relative;
  transform: rotate(-90deg);
  margin-bottom: 30px;

  & div:nth-child(2) {
    position: absolute;
    z-index: 1;
    height: 224px;
    width: 155px;
    top: 50%;
    right: 0;
    transform: rotate(90deg) translate(-70%, 25%);
  }
}

.composition__item:last-child::after {
  background-image: none;
}

.composition__item::after {
  content: '';
    transition: opacity .3s;
  background-image: url("../images/grass-bg.png");
  position: absolute;
  height: 229px;
  width: 230px;
  opacity: 0;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.composition__item:hover::after {
  opacity: 0.9;
}

.composition__item::before {
  position: absolute;
  transition: opacity .3s;
  font-family: $fn-mb;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 7;
  display: block;
  opacity: 0;
  width: 100%;
}

.composition__item:hover::before {
  opacity: 1;
}

.composition__item-top-text {
  font-family: $fn-mb;
  text-align: right;
}

.composition__item-name {
  font-family: $fn-mr;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.composition__item-1 .composition__image {
  background: url("../images/grass-item1.png") no-repeat center / contain;
}

.composition__item-1::before {
  content: 'Корень дягиля (дудника) лекарственного';
}

.composition__item-2 {
  &::before {
    content: 'Колючник бесстебельный';
  }

  .composition__image {
    background: url("../images/grass-item2.png") no-repeat center / contain;
  }
}

.composition__item-3 {
  &::before {
    content: 'Коричник камфорный';
  }

  .composition__image {
    background: url("../images/grass-item3.png") no-repeat center / contain;
  }
}

.composition__item-4 {
  &::before {
    content: 'Ясень манновый';
  }

  .composition__image {
    background: url("../images/grass-item4.png") no-repeat center / contain;
  }
}

.composition__item-5 {
  &::before {
    content: 'Коммифора мирровая';
  }

  .composition__image {
    background: url("../images/grass-item5.png") no-repeat center / contain;
  }
}

.composition__item-6 {
  &::before {
    content: 'Ревень пальчатый';
  }

  .composition__image {
    background: url("../images/grass-item6.png") no-repeat center / contain;
  }
}

.composition__item-7 {
  &::before {
    content: 'Шафран посевной';
  }

  .composition__image {
    background: url("../images/grass-item7.png") no-repeat center / contain;
  }
}

.composition__item-8 {
  &::before {
    content: 'Сенна александрийская';
  }

  .composition__image {
    background: url("../images/grass-item8.png") no-repeat center / contain;
  }
}

.composition__item-9 {
  &::before {
    content: 'Полынь горькая';
  }

  .composition__image {
    background: url("../images/grass-item9.png") no-repeat center / contain;
  }
}

.composition__item-10 {
  &::before {
    content: 'Куркума цедоария';
  }

  .composition__image {
    background: url("../images/grass-item10.png") no-repeat center / contain;
  }
}

.composition__list-box {
  max-width: 570px;
  width: 100%;
  padding-left: 48px;
  margin-top: -60px;

  .default__title {
    margin-bottom: 60px;
  }
}

.composition__list {
  li {
    padding-left: 26px;
    position: relative;
  }

  li + li {
    margin-top: 37px;
  }

  li::before {
    content: '';
    height: 7px;
    width: 7px;
    background-color: #a4c58c;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 8px;
  }
}

.composition__box {
  max-width: 870px;
  width: 100%;
  padding: 20px;

  p + p {
    margin-top: 20px;
  }

  .default__button {
    text-transform: uppercase;
  }
}

.composition__box-text {
  position: relative;
  padding-left: 23px;
}

.composition__box-text::before {
  content: '';
  height: 7px;
  width: 7px;
  background-color: #a4c58c;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 8px;
}

.composition__box-button-inner {
  text-align: right;
  margin-top: 30px;
  margin-right: -80px;
}

.composition__box-wrapper {
  border: 1px solid #d0e1c3;
  padding: 46px 80px 0 58px;
}

.composition__item-bg {
  position: absolute;
  font-family: $fn-mb;
  font-size: 220px;
  line-height: 200px;
  color: #cedfc0;
  z-index: 0;
  top: 36px;
  right: 71px;
  letter-spacing: 0;
  transform: rotate(90deg);
}

.composition__item-text-wrapper {
  position: relative;
}

.composition .composition__item .composition__item-text {
  position: absolute;
  color: $black-text;
  font-family: $fn-mb;
  font-size: 14px;
  height: auto;
  bottom: 0;
  left: 0;
  line-height: 22px;
  text-transform: uppercase;
  max-width: 122px;
  padding-bottom: 24px;
}
//comments

.comments {
  padding-top: 180px;

  .default__title {
    margin-bottom: 52px;
  }
}

.comments__bg {
  margin: 0 auto;
  max-width: 1720px;
  width: 100%;
  background-color: #f6f9f3;
}

.categories__tab {
  padding: 30px 70px;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 14px;
  font-family: $fn-mb;
  line-height: 22px;
  color: #c3c3c3;
  cursor: pointer;
}

.comments__categories {
  display: flex;
  background-color: #fff;

  div:first-child {
    padding-left: 345px;
  }
}

.categories__tab.active {
  color: #7eb152;
  background-color: #f6f9f3;
}

.comments__items {
  padding: 60px 70px 0;
}

.comments__item {
  display: none;
}

.comments__item.active-tab {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comments__item-box {
  padding: 20px 35px 45px 0;
  width: 50%;
  position: relative;
}

.comments__item-box::before {
  content: '';
  height: 3px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a4c58c;
}

.comments__item-text {
  color: $gray-text;
  font-family: $fn-mr;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 22px;
}

.comments__item-name {
  color: $black-text;
  font-family: $fn-mb;
}

.comments__btns {
  margin-top: 21px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .default__button {
    padding-left: 23px;
    padding-right: 73px;
  }

  .default__button::after {
    right: 22px;
  }

  .default__link {
    margin-right: 50px;
  }
}
//order

.order {
  margin-top: 200px;
}

.order__wrapper {
  background: url("../images/el-bg.jpg") no-repeat left top / contain;
  margin: 0 auto;
  height: 775px;
  width: 1720px;
}

.order__box-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
}

.order__box {
  max-width: 685px;
  width: 100%;
  padding: 20px;
  background-color: #fff;

  .default__title {
    margin-bottom: 30px;
  }

  p + p {
    margin-top: 20px;
    font-family: $fn-mr;
    font-size: 16px;
  }
}

.order__headline {
  margin-top: 40px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font: 14px $fn-mb;
}

.order__box-inner {
  border: 1px solid $green-dark-border;
  padding: 68px 30px 70px 70px;
}
//footer

.footer {
  margin-top: 300px;
}

.footer__benefits {
  .default__wrapper {
    min-height: 563px;
  }

  .default__title {
    margin-bottom: 43px;
  }
}

.default__wrapper {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  background-color: #f6f9f3;
}

.default__subtitle {
  text-transform: uppercase;
  font: 14px $fn-mb;
  color: $black-text;
}

.footer__benefits-inner {
  display: flex;
  flex-wrap: wrap;
}

.footer__benefits-info {
  max-width: 640px;
  padding-left: 70px;
  padding-top: 40px;
  margin-right: 82px;
  width: 100%;

  .default__subtitle {
    margin-bottom: 50px;
    line-height: 24px;
    max-width: 515px;
    width: 100%;
  }
}

.footer__benefits-box {
  background-color: #fff;
  padding: 20px;
}

.footer__benefits-box-inner {
  border: 1px solid $green-dark-border;
  padding: 48px 48px 0;
  color: $black-text;
  font: 16px $fn-mr;
  line-height: 22px;
  max-width: 560px;
  width: 100%;

  p + p {
    margin-top: 20px;
  }

  .default__button {
    display: inline-block;
    max-width: 350px;
    width: 100%;
  }
}

.footer__benefits-btn-inner {
  margin-right: -48px;
  margin-top: 49px;
  text-align: right;
}

.footer__img {
  margin-top: -160px;
}

.footer__links {
  display: flex;
  justify-content: space-between;

  a {
    color: $gray-text;
    font-family: $fn-mr;
    font-size: 12px;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  li + li {
    margin-left: 53px;
  }
}

.footer__logo {
  max-width: 200px;
}

.footer__phone a {
  font-family: $fn-msb;
  font-size: 20px;
}
@import "media";
